
@{
}

<table> 
    <tr>
        <th>ID</th>
        <th>CompanyName</th>
        <th>ContactName</th>
        <th>City</th>
        <th>Country</th>
    </tr>

    <tr>
        <td> @Model.Id </td>
        <td> @Model.ContactName </td>
        <td> @Model.ContactName </td>
        <td> @Model.City </td>
        <td> @Model.Country </td>

    </tr>


</table>
